body, .panel {
	background-color: #BBBBBB;
	font-family: 'Comfortaa', cursive;
}

body {
	background-color: black;
    background: url(../../images/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: grayscale(100%);
}

.panel {
	border: 1px solid #222222;
}

.panel-heading, .panel-footer {
	background-color: #222222;
	color: #fff;
}

.panel-footer {
	text-align: right;
	font-size: 1rem;
	padding-right:0px; 
}

.panel-footer p {
	margin: 0;
}

.media {
	margin: 0 10px 0 0;
}

div p button{
	margin-top:-3px;
	margin-right: 15px;
}

.bgButtonEffacer{
	background-color:#DD7070;
	border: 0;
}

.bgButtonModifier {
	border: 0;
}

img {
	margin: 10px 0 10px 10px; 
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
}

.media-body p {
	margin: 10px 10px 10px 0; 
}

.footerTitle {
	text-align: center;
}

.cookie {
	position: absolute;
	top: -2%;
	box-shadow: none;
}

/*.formulaireLogin {
	background-color: #404040;
	margin: 0 auto;
	width: 600px;
}*/

.grosTitre {
	text-align: center;
	margin-top: 10%;
	font-size: 6rem;
	color: #fff;
}

.home {
	margin: 0 auto;
	max-width: 70%;
	background-color: #ccc;
	border-radius: 10px;
	padding: 2%;
}

label {
	color: #fff;
}